<div class="section">
    <div class="page-filter">
        <div class="col-md-8 col-sm-8">
            <div class="box">
                <div class="box-body">
                    <div class="input-group">
                        <a (click)=" isSortByClicked= !isSortByClicked"><i class="fa fa-search" aria-hidden="true"></i></a>

                        <div (click)="getDynamicDataLimit()">Show</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>